/* Стилі для форми пошуку */
.search-form {
  text-align: center;
  margin-top: 20px;
}

input[type='text'] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type='submit'] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

/* Стилі для галереї */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.photo-card {
  max-width: 300px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s;
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo-card a {
  display: block;
}

.photo-card img {
  max-width: 100%;
  max-height: auto;
  display: block;
}

.info {
  padding: 10px;
}

.info-item {
  font-size: 14px;
  margin: 5px 0;
}

/* Стилі для кнопки "Load more" */
.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.load-more:hover {
  background-color: #0056b3;
}
